.help-container
{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align:justify;
    font-family: 'texttight';
    padding: 1rem;
    background-image: url('../../images/content-page-curl.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50px;
}
.help-container h1{
    margin: 0;
    font-family: 'comic';
    font-size: 2.5rem;
    color: black;
    text-align: left;
    padding:0 1rem;
    text-shadow: 2px 3px 0 red;
}
.help-content
{
    padding: 1rem;
    font-size: 1.2rem;
}

.help-content ol li
{
    margin:1rem 0;
}
.help-content ol li strong{
    font-size: 1.5rem;
}