body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}
@font-face {
  font-family: "comic";
  src: url('./fonts/LuckiestGuy.ttf');
}
@font-face {
  font-family: "textregular";
  src: url('./fonts/KOMTXT__.ttf');
}
@font-face {
  font-family: "textitalic";
  src: url('./fonts/KOMTXTI_.ttf');
}
@font-face {
  font-family: "texttight";
  src: url('./fonts/KOMTXTT_.ttf');
}
@font-face {
  font-family: "textbold";
  src: url('./fonts/KOMTXTKB.ttf');
}
@font-face {
  font-family: "regular";
  src: url('./fonts/KOMTIT__.ttf');
}
@font-face {
  font-family: "regular2";
  src: url('./fonts/KOMTITT_.ttf');
}
@font-face {
  font-family: "comickult";
  src: url('./fonts/calgaryscriptot.otf');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
